/* Custom CSS for Automic Themeing */

/* ********************************************************************************** */


/* Setting font-family order to match overall Automic Theme */

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
{
        /*
	font-family: "helvetica neue", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	*/
	/* Workaround font order for cross-browser/platform issues */
	font-family: Calibri, "helvetica neue", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
	/* Workaround font order for cross-browser/platform issues */
	font-family: Calibri, "helvetica neue", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	
	color: #1e1e1e;
	font-size: 18px;
}

/* H font sizes */

h1 {
	font-size: 32px;
	color: #ff9e15;
}

h2 {
	font-size: 28px;
	font-weight: 400;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
        color: #505050;
}


a {
	color: #ff9e15;
}

a:hover {
	color: #ff9e15;
}

a:focus {
	color: #ff9e15;
}


li {
  line-height: 1em;
}


/* **************************************** */

/* Header / Navigation */

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #1e1e1e;
}

/* **************************************** */

/* Top links */

.top_links {
  max-width: 75%;
  margin: 0 auto;
}

.top_links div {
  display: inline-block;
}

#forkme_banner {
  display: inline-block;
  padding: 20px 55px 15px 15px;
  color: #ffffff;
  background: url('http://2515f77b98275c9472dc-6e270f88c81ed2e83631a388f81e6c55.r5.cf2.rackcdn.com/blacktocat.png') #ff9e15 no-repeat 95% 50%;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1.1em;
}


#downloads {
  position: relative;
  width: 210px;
  z-index: 10;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
  float: right;
}


/* **************************************** */

/* Main Body */

#main_content_wrap {
  padding-top: 75px;
}


.main_body {
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
}

.jumbotron {
  background-color: inherit;
  padding: 0px;
  margin-bottom: 0px;
}

.jumbotron h1, .jumbotron .h1 {
  font-size: 60px;
  padding-top:3%;
  letter-spacing:normal;
  font-weight:500;
  color:#ff9e15;
  text-align: center;
}

.tagline h2{
  color: #505050;
  font-weight: normal;
  font-size: 35px;
  margin-top: 10px;
  text-align: center;
}



/* **************************************** */

/* Footer */

footer a {
  cursor: pointer;
  color: #ff9e15;
  font-size: inherit;
}

footer {
  bottom:0px;
  background: #1e1e1e;
  color: #878787;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom:20px;
  min-height: auto;
  }

  
/* **************************************** */

/* Vanilla Comment Code */

div#vanilla-comments {
  padding-top: 5%;
  max-width: 100%;
  margin: 0 auto;
}


.community_logo img {
  max-width: 25% !important;
  float: right;
  padding: 6px 2px;
  display: block;
}
