/* Custom CSS for Automic Themeing */

/* ********************************************************************************** */


/* Setting font-family order to match overall Automic Theme */

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
{
        /*
	font-family: "helvetica neue", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	*/
	/* Workaround font order for cross-browser/platform issues */
	font-family: Calibri, "helvetica neue", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
	/* Workaround font order for cross-browser/platform issues */
	font-family: Calibri, "helvetica neue", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	
	color: #1e1e1e;
	font-size: 18px;
}

/* H font sizes */

h1 {
	font-size: 32px;
	color: #ff9e15;
}

h2 {
	font-size: 28px;
	font-weight: 400;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
        color: #505050;
}


a {
	color: #ff9e15;
}

a:hover {
	color: #ff9e15;
}

a:focus {
	color: #ff9e15;
}


li {
  line-height: 1em;
}

hr {
  border: solid 1px #878787;
  margin-top: 5%;
}






/* **************************************** */

/* Header / Navigation */

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #1e1e1e;
}

.bottom-nav {
  background-color: #1e1e1e;
}

/* **************************************** */

/* Top links */


.top_links div {
  display: inline-block;
}

.forkme a {
  display: inline-block;
  padding: 5px 15px;
  color: #ffffff;
  background-color: #ff9e15; 
  font-weight: 500;
  border-radius: 5px;
  font-size: 1.1em;
}

.forkme a:before {
  content: "\f09b"; /* fa-github */
  font-family: FontAwesome;
  padding-right: 5px;
  color: #1e1e1e;
}


#downloads {
  position: relative;
  width: 210px;
  z-index: 10;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
  float: right;
}


/* **************************************** */

/* Main Body */

#main_content_wrap {
  padding-top: 75px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main_body {
  padding-top: 40px;
  
}

.jumbotron {
  background-color: inherit;
  padding: 0px;
  margin-bottom: 0px;
}

.jumbotron h1, .jumbotron .h1 {
  font-size: 60px;
  font-weight:500;
  color:#ff9e15;
  text-align: center;
  line-height: 1em;
}

.tagline h2{
  color: #505050;
  font-weight: normal;
  font-size: 35px;
  margin-top: 0px;
  text-align: center;
  line-height: 1em;
}




.t-area {
  min-height: 400px;
  margin-bottom: 10%;
}

.tab-pane h3 {
  text-align: center;
  margin-bottom: 5%;
}

#overview .media {
  border-top: #ddd solid 1px;
  margin-top: 5% !important;
}

#contents .downloads {
  display: inline-block;
  margin-top: 5%;
}

#contents a {
  padding: 10px 15px;
  color: #ffffff;
  background-color: #ff9e15; 
  font-weight: 300;
  border-radius: 5px;
}

#contents a.download_zip:before, #contents .download_tar:before {
  content: "\f0ed"; /* fa-cloud-download */
  font-family: FontAwesome;
  padding-right: 5px;
}



#credits img {
  width: 25%;
}

#credits p {
  display: inline-block;
}

.commenting {
  border-top: #ddd solid 1px;
  padding-top: 3%;
}


.row.rating, .row.help {
  background-color: #eee;
  padding: 10% 5%;
  border: 1px solid #1e1e1e;
  border-radius: 10px;
}

.row.rating h3 {
  margin-top:0px;
}


.row .rating h4, .row .help h4 {
  margin-top: 0px;
  padding-bottom: 0px;
}


.type {
  width: 50%;
  margin: 5%;
}

.type span.label {
 padding-left: 9px;
 font-size: 18px;
 background-color: #ffffff;
 display: block;
 border: #1e1e1e solid 1px;
}



.rateit {
 padding-top: 10px;
 display: block;
}

.rateit button.rateit-reset {
  display: none !important;
}

.share-btn {
  display: inline-block;
  color: #1e1e1e;
  border: none;
  border-radius: 5px;
  width: auto;
  text-align: center;
  background-color: #878787;
  line-height: 1em;
  padding: 3px;
}

.fa {
  padding: 3px;
}

.help p {
  line-height: 1.2em;
  font-size: .9em;
}

.help div.ask {
  margin: 5%;
}

.help .ask a.btn {
  background-color: #ff9e15;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  
}

.help .ask a.btn:before {
  content: "\f0e6"; /* fa-comments-o */
  font-family: FontAwesome;
  padding-right: 5px;
}

.copyright {
  width: 85%;
}


.copyright p {
  font-size: .8em;
  line-height: 1.1em;
}



/* **************************************** */

/* Footer */


footer .container {
  width: 80%;
}

footer a {
  cursor: pointer;
  color: #ff9e15;
  font-size: inherit;
}

footer {
  bottom:0px;
  background: #1e1e1e;
  color: #878787;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom:20px;
  min-height: 5%;
  font-size: 16px;
  }

  
/* **************************************** */

/* Vanilla Comment Code */


div#vanilla-comments {
  max-width: 90%;
  margin: 0 auto;
}


.community_logo img {
  max-width: 20% !important;
  float: right;
  padding: 6px 2px;
  display: block;
}
