/* Custom CSS for Automic Themeing */

/* ********************************************************************************** */


/* Setting font-family order to match overall Automic Theme */

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
{
        /*
	font-family: "helvetica neue", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	*/
	/* Workaround font order for cross-browser/platform issues */
	font-family: Calibri, "helvetica neue", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
	/* Workaround font order for cross-browser/platform issues */
	font-family: Calibri, "helvetica neue", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	
	color: #1e1e1e;
	font-size: 18px;
        line-height: 1.3em;
}

/* H font sizes */

h1 {
	font-size: 32px;
	color: #ff9e15;
}

h2 {
	font-size: 28px;
	font-weight: 400;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
        color: #505050;
}


a {
	color: #ff9e15;
}

a:hover {
	color: #ff9e15;
}

a:focus {
	color: #ff9e15;
}


li {
  line-height: 1em;
}

hr {
  border: solid 1px #878787;
  margin-top: 5%;
}






/* **************************************** */

/* Header / Navigation */

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #1e1e1e;
}

.bottom-nav {
  background-color: #1e1e1e;
}








/* **************************************** */

/* Main Body */



.container {
  width: 80%;
  margin: 0 auto;
}

.main_body {
  padding-top: 40px;
  
}

.jumbotron {
  background-color: inherit;
  padding: 0px;
  margin-bottom: 0px;
}

.jumbotron h1, .jumbotron .h1 {
  font-size: 60px;
  font-weight:500;
  color:#ff9e15;
  text-align: center;
  line-height: 1em;
}

.tagline h2{
  color: #505050;
  font-weight: normal;
  font-size: 35px;
  margin-top: 0px;
  text-align: center;
  line-height: 1em;
}




.t-area {
  min-height: 400px;
  margin-bottom: 10%;
}

.tab-pane h3 {
  text-align: center;
  margin-bottom: 5%;
}

#overview .media {
  border-top: #ddd solid 1px;
  margin-top: 5% !important;
}

#contents .downloads {
  display: inline-block;
  margin-top: 5%;
}

#contents a {
  padding: 10px 15px;
  color: #ffffff;
  background-color: #ff9e15; 
  font-weight: 300;
  border-radius: 5px;
}

#contents a.download_zip:before, #contents .download_tar:before {
  content: "\f0ed"; /* fa-cloud-download */
  font-family: FontAwesome;
  padding-right: 5px;
}



#credits img {
  width: 25%;
}

#credits p {
  display: inline-block;
}

.commenting {
  border-top: #ddd solid 1px;
  padding-top: 3%;
}



/* Sidebar */


#downloads {
  position: relative;
  width: 210px;
  z-index: 10;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}


.row.rating, .row.help, .row.tags {
  background-color: #f5f5f5;
  padding: 10% 5%;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}


.row.rating h3 {
  margin-top:0px;
}


.row .rating h4, .row .help h4 {
  margin-top: 0px;
  padding-bottom: 0px;
}


a.forkme {
  font-weight: 500;
  font-size: 1.1em;
  color: #505050;
}

a.forkme:hover {
  color: #ff9e15;
}

a.forkme:before {
  content: "\f09b"; /* fa-github */
  font-family: FontAwesome;
  padding-right: 5px;
}



.rateit {
 padding-top: 10px;
 display: block;
}

.rateit button.rateit-reset {
  display: none !important;
}


<!-- Social Share Buttons -->

div.social-buttons {
  padding-top: 3%;
}

.social-buttons a.share-btn {
  color: #ffffff;
}

.share-btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  width: auto;
  text-align: center;
  line-height: 1em;
  padding: 3px;
}

.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email       { background: #444444; }


.fa {
  padding: 3px;
  color: #ffffff;
}


.row.tags a {
  display: block;
  color: #505050;
  font-size: .9em;
  line-height: 1.3em;
  font-weight: 500;
}

.row.tags a:hover {
  color: #ff9e15;
}

.row.tags a.type:before {
  content: "\f12e"; /* fa-puzzle-piece */
  font-family: FontAwesome;
  padding-right: 5px;
}



.row.tags a.comp-product:before {
  content: "\f0e8"; /* fa-sitemap */
  font-family: FontAwesome;
  padding-right: 5px;
}

.row.tags a.comp-versions:before {
  content: "\f046"; /* fa-check-square-o */
  font-family: FontAwesome;
  padding-right: 5px;
}

.row.tags a.comp-platforms:before {
  content: "\f108"; /* fa-desktop */
  font-family: FontAwesome;
  padding-right: 5px;
}

.row.tags a.comp-apps:before {
  content: "\f10a"; /* fa-tablet */
  font-family: FontAwesome;
  padding-right: 5px;
}


.row.help a.supported {
  padding-top: 5%;
  font-weight: 600;
  color: #505050;
}

.row.help a.supported:before {
  content: "\f129"; /* fa-info */
  font-family: FontAwesome;
  padding-right: 5px;
}


.help p {
  line-height: 1.2em;
  font-size: .9em;
}

.help div.ask {
  margin: 5%;
}

.help .ask a.btn {
  background-color: #ff9e15;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  
}

.help .ask a.btn:before {
  content: "\f0e6"; /* fa-comments-o */
  font-family: FontAwesome;
  padding-right: 5px;
}

.copyright {
  width: 85%;
}


.copyright p {
  font-size: .8em;
  line-height: 1.1em;
}



/* **************************************** */

/* Footer */


footer .container {
  width: 80%;
}

footer a {
  cursor: pointer;
  color: #ff9e15;
  font-size: inherit;
}

footer {
  bottom:0px;
  background: #1e1e1e;
  color: #878787;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom:20px;
  min-height: 5%;
  font-size: 16px;
  }

  
/* **************************************** */

/* Vanilla Comment Code */


div#vanilla-comments {
  max-width: 90%;
  margin: 0 auto;
}


.community_logo img {
  max-width: 20% !important;
  float: right;
  padding: 6px 2px;
  display: block;
}
