/* Custom CSS for Automic Themeing */

/* ********************************************************************************** */


/* Setting font-family order to match overall Automic Theme */

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
{
        /*
	font-family: "helvetica neue", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	*/
	/* Workaround font order for cross-browser/platform issues */
	font-family: Calibri, "helvetica neue", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
	/* Workaround font order for cross-browser/platform issues */
	font-family: Calibri, "helvetica neue", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	
	color: #1e1e1e;
	font-size: 18px;
}

/* H font sizes */

h1 {
	font-size: 32px;
	color: #ff9e15;
}

h2 {
	font-size: 28px;
	font-weight: 400;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
        color: #505050;
}


a {
	color: #ff9e15;
}

a:hover {
	color: #ff9e15;
}

a:focus {
	color: #ff9e15;
}


li {
  line-height: 1em;
}


/* **************************************** */

/* Header / Navigation */

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 16px;
}


/* **************************************** */

/* Top links */

.top_links {
  max-width: 75%;
  margin: 0 auto;
}

.top_links div {
  display: inline-block;
}

#forkme_banner {
  display: inline-block;
  position: relative;
  top:0;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #ffffff;
  background: url('http://2515f77b98275c9472dc-6e270f88c81ed2e83631a388f81e6c55.r5.cf2.rackcdn.com/blacktocat.png') #ff9e15 no-repeat 95% 50%;
  font-weight: 500;
  border-radius: 5px;
}

#a_github_logo {
    display: block;
    position: absolute;
    top: 0;
    
}

#a_github_logo img{
  border: none;
  box-shadow: none;
  height: 2.3em;
}


/* **************************************** */

/* Main Body */

#main_content_wrap {
  padding-top: 75px;
}


.inner {
  position: relative;
  width: 80%;
  margin: 0 auto;
}



#project_title {
  text-align: center;
}

#project_title h1 {
  color: #ff9e15;
  font-weight: normal;
  font-size: 60px;
  padding-top: 15px;
}


#project_tagline {
  text-align: center;
}

#project_tagline h2{
  color: #505050;
  font-weight: normal;
  font-size: 35px;
  padding-top: 15px;
}


#downloads {
  float: right;
  position: relative;
}


/* **************************************** */

/* Vanilla Comment Code */

div#vanilla-comments {
  padding-top: 5%;
  max-width: 100%;
  margin: 0 auto;
}

