/* Custom CSS for Automic Themeing */

/* ********************************************************************************** */


/* Setting font-family order to match overall Automic Theme */

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
{
        /*
	font-family: "helvetica neue", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	*/
	/* Workaround font order for cross-browser/platform issues */
	font-family: Calibri, "helvetica neue", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
	/* Workaround font order for cross-browser/platform issues */
	font-family: Calibri, "helvetica neue", Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	
	color: #1e1e1e;
	font-size: 15px;
}

/* H font sizes */

h1 {
	font-size: 32px;
	color: #ff9e15;
}

h2 {
	font-size: 28px;
	color: #878787;
	font-weight: 400;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}


a {
	color: #ff9e15;
}

a:hover {
	color: #ff9e15;
}

a:focus {
	color: #ff9e15;
}




/* **************************************** */

/* Header / Navigation */

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 16px;
}


/* **************************************** */


#forkme_banner {
  display: inline-block;
  float: right;
  position: relative;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #000;
  background: url('http://2515f77b98275c9472dc-6e270f88c81ed2e83631a388f81e6c55.r5.cf2.rackcdn.com/blacktocat.png') #fac800 no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#a_github_logo {
    display: block;
    position: absolute;
    top: 0;
    
}

#a_github_logo img{
  border: none;
  box-shadow: none;
  height: 2.3em;
}


#main_content_wrap {
  padding-top: 75px;
}

#project_title {
  padding-top: 7%;
  color: #1d1e1e;
  text-shadow: none;
  font-size: 60px;
  font-weight: 500;
}

#project_tagline {
  max-width: 50%;
  margin: 0 auto;
  color: #1e1e1e;
  text-shadow: none;
  font-weight: normal;
  font-size: 30px;
  padding-top: 15px;
}


#downloads {
  float: right;
  margin-right: 9em;
  position: relative;
}

div#vanilla-comments {
  padding-top: 5%;
  max-width: 100%;
  margin: 0 auto;
}

